<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
 </configSections>
  <connectionStrings>
  <add name="cnxISFO" connectionString="Data Source=DESKTOP-7M7U6V6;Initial Catalog=ISFO;Integrated Security=True"/>
  <add name="Gestion_Absences_Stagiaire.Properties.Settings.ISFOConnectionString"
   connectionString="Data Source=DESKTOP-7M7U6V6;Initial Catalog=ISFO;Integrated Security=True" />
 </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>